body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: "Calibre-light";
  src: url("./fonts/calibre/CalibreWeb-Light.woff2") format("woff2"), url("/fonts/calibre/CalibreWeb-Light.woff") format("woff"), url("/fonts/calibre/CalibreWeb-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Calibre-medium";
  src: url("./fonts/calibre/CalibreWeb-Medium.woff2") format("woff2"), url("/fonts/calibre/CalibreWeb-Medium.woff") format("woff"), url("/fonts/calibre/CalibreWeb-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
